* {
  margin: 0;
  padding: 0;
}

.field {
  background: orange;
  border: 0;
  margin-left: 50px;
}

.item {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: bottom;
  color: white;
  background: gray;
  border: 1px solid darkblue;
  line-height: 100px;
  box-sizing: border-box;
}

.finished {
  position: absolute;
  display: none;
  top: 100px;
  left: 400px;
  background: deeppink;
  color: white;
  font-size: 2em;
}

button {
  position: relative;
  width: 200px;
  height: 100px;
  left: 30%;
}

h4, input {
  display: block;
}
